Portal RFID/App/Service References/ServiceReference1/PortalRFID1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PortalRFID" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PortalRFID" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTagRfidType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagRfidType" nillable="true" type="tns:TagRfidType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagRfidType" nillable="true" type="tns:ArrayOfTagRfidType" />
  <xs:complexType name="TagRfidType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AntValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpcValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagRfidType" nillable="true" type="tns:TagRfidType" />
</xs:schema>