Portal RFID/App/Service References/ServiceReference1/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Leitor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PortalRFID" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILeitor_GetEcho_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEcho" />
  </wsdl:message>
  <wsdl:message name="ILeitor_GetEcho_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEchoResponse" />
  </wsdl:message>
  <wsdl:message name="ILeitor_IsReaderOk_InputMessage">
    <wsdl:part name="parameters" element="tns:IsReaderOk" />
  </wsdl:message>
  <wsdl:message name="ILeitor_IsReaderOk_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsReaderOkResponse" />
  </wsdl:message>
  <wsdl:message name="ILeitor_GetTagsRfid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsRfid" />
  </wsdl:message>
  <wsdl:message name="ILeitor_GetTagsRfid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsRfidResponse" />
  </wsdl:message>
  <wsdl:portType name="ILeitor">
    <wsdl:operation name="GetEcho">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeitor/GetEcho" message="tns:ILeitor_GetEcho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeitor/GetEchoResponse" message="tns:ILeitor_GetEcho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsReaderOk">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeitor/IsReaderOk" message="tns:ILeitor_IsReaderOk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeitor/IsReaderOkResponse" message="tns:ILeitor_IsReaderOk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagsRfid">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeitor/GetTagsRfid" message="tns:ILeitor_GetTagsRfid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeitor/GetTagsRfidResponse" message="tns:ILeitor_GetTagsRfid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILeitor" type="tns:ILeitor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEcho">
      <soap:operation soapAction="http://tempuri.org/ILeitor/GetEcho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsReaderOk">
      <soap:operation soapAction="http://tempuri.org/ILeitor/IsReaderOk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagsRfid">
      <soap:operation soapAction="http://tempuri.org/ILeitor/GetTagsRfid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Leitor">
    <wsdl:port name="BasicHttpBinding_ILeitor" binding="tns:BasicHttpBinding_ILeitor">
      <soap:address location="http://appserver03.cepedi.br/PortalRFID/Leitor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>