Portal RFID/App/Service References/ServiceReference1/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PortalRFID" />
  <xs:element name="GetEcho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReaderOk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPorta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReaderOkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsReaderOkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsRfid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="antNum" type="xs:int" />
        <xs:element minOccurs="0" name="ipPorta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filtro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tempoLeitura" type="xs:int" />
        <xs:element minOccurs="0" name="readUser" type="xs:boolean" />
        <xs:element minOccurs="0" name="potenciaPadrao" type="xs:int" />
        <xs:element minOccurs="0" name="potenciaAntena1" type="xs:int" />
        <xs:element minOccurs="0" name="potenciaAntena2" type="xs:int" />
        <xs:element minOccurs="0" name="potenciaAntena3" type="xs:int" />
        <xs:element minOccurs="0" name="potenciaAntena4" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsRfidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PortalRFID" minOccurs="0" name="GetTagsRfidResult" nillable="true" type="q1:ArrayOfTagRfidType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>